.all-des-div {
  padding: 80px 113px 41px;
}
.address-div {
  line-height: 1.75;
}
.all-Text-field-div {
  display: flex;
  gap: 20pc;
}
.input-des {
  font: inherit;
}
.all-row-col-div {
  display: flex;
  flex-direction: column;
}
.p-tag-div {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1200px) {
  .TextField-div {
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 700px) {
  .p-tag-div {
    flex-wrap: wrap;
  }
  .textField {
    width: "200px";
  }
}
@media only screen and (max-width: 500px) {
  .all-des-div {
    padding: 0px 0px 0px;
  }
}
.Radio-btn-div {
  margin-inline-end: 395px;
}
@media only screen and (max-width: 1200px) {
  .Radio-btn-div {
    margin-inline-end: 190px;
  }
}
.input {
  padding: 0px;
  box-sizing: border-box;
  font-size: inherit;
  border: 0px;
  border-radius: 2px;
  appearance: none;
  line-height: normal;
  text-align: center;
  font-weight: 400;
  background-color: rgb(248, 248, 248);
  height: 30px;
  width: 130px;
}
.btn-input-div {
  margin-inline-end: 351px;
  margin-top: 25px;
}

.toggle-div-btn {
  margin-inline-end: 370px;
}
.toggle-btn-div {
  border-radius: 50px;
}
.Mui-checked {
  color: #0f2e1d !important;
}
.btn-input-div .MuiButtonBase-root {
  background-color: #0f2e1d;
}

.btn-input-div .MuiButtonBase-root:hover {
  background-color: #0f2e1d;
}
@media only screen and (max-width: 960px) {
  .btn-input-div {
    margin-inline-end: 149px;
  }
  .toggle-div-btn {
    margin-inline-end: 169px;
  }
}
@media only screen and (max-width: 960px) {
  .btn-input-div {
    margin-inline-end: 0px;
  }
}
.save-btn-div {
  display: flex;
  padding: 20px 45px;
  background: #0f2e1d;
  transition: all 0.2s ease;
  align-items: center;
  border-radius: 30px;
  justify-content: center;
  border: none;
}
.span-div-btn {
  color: #0f2e1d;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(0deg, #60efb9 30%, #f9db4a 80%);
  transition: all 0.2s ease;
  align-items: center;
  font-weight: 600;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1rem;
}
.save-btn-div-two{
  display: flex;
  padding: 20px 45px;
  background: #0f2e1d;
  transition: all 0.2s ease;
  align-items: center;
  border-radius: 30px;
  justify-content: center;
  border: none;
  margin-inline: 18px;
}